/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.font09 {
	font-size: 0.9em;
}
.font08 {
	font-size: 0.8em;
}
.fontColGr2 {
	font: #8C8C8C !important;
}
.fontColGr1 {
	font: #BDBDBD !important;
}
#lecTable {
	border: 1px solid #BDBDBD;
}
